.resultsList ul {
  display: grid;
  gap: 0.5em;
  align-items: stretch;
  grid-template-columns: minmax(0, 1fr);
}

@media (min-width: 740px) {
  .resultsList ul {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.resultsList img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
