.form {
  display: grid;
  grid-template-columns: 50% 1fr auto;
  grid-template-rows: 3rem 2rem;
  align-items: center;
}

.form input {
  grid-column-start: 1;
  grid-column-end: 3;
}

.form input[type="submit"] {
  grid-row-start: 1;
  grid-column-start: 3;
  padding: 0 0.5em;
}

.form input ~ label {
  margin: 0 0.5em;
}
